VITE_FIREBASE_API_KEY=AIzaSyCv9uDMumLFU0EZRjOcfVHQ2voix0dXeS4
VITE_FIREBASE_AUTH_DOMAIN=mom-database-a60f6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mom-database-a60f6
VITE_FIREBASE_STORAGE_BUCKET=mom-database-a60f6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=216074640627
VITE_FIREBASE_APP_ID=1:216074640627:web:6d41b7e44235e7f002ab86